<div class="form-group">
    <label for="selectField">Select an item</label>
    <div class="dropdown">
      <input
        type="text"
        class="form-control dropdown-toggle"
        id="selectField"
        aria-expanded="false"
        (click)="toggleDropdown()"
        [(ngModel)]="selectedDisplayValue"
        readonly
      >
      <div class="dropdown-menu p-3 w-100" [class.show]="dropdownOpen">
        <input
          class="form-control mb-2"
          type="text"
          placeholder="Search for..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange($event)"
        >
        <div class="list-group mt-2" style="max-height: 200px; overflow-y: auto;">
          <a *ngFor="let item of paginatedItems" href="#" class="list-group-item list-group-item-action" (click)="onSelectionChange(item)">
            {{ item.name }}
          </a>
        </div>
        
        <small class="text-muted">
            Showing records {{pageIndex * pageSize + 1}} to {{minPage(pageIndex + 1, pageSize, filteredItems.length)}} of {{filteredItems.length}}
          </small>
        <nav aria-label="Page navigation example" class="mt-2">
          <ul class="pagination justify-content-center mb-0">
            <li class="page-item" [class.disabled]="pageIndex === 0">
              <a class="page-link" href="#" (click)="onPageChange(pageIndex - 1)">Previous</a>
            </li>
            <li class="page-item" [class.disabled]="(pageIndex + 1) * pageSize >= filteredItems.length">
              <a class="page-link" href="#" (click)="onPageChange(pageIndex + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>